// Colours
$dyellow: #dbc659;
$lyellow: #e9d570;
$blue: #388dec;
$grey: #efefef;
$gold: #76681e;
$white: #ffffff;

// Base Colours
$primary: $lyellow;
$secondary: $blue;

// Base Font
$base-font-family: Calibri;

// Font weights
$light: 300;
$regular: 400;
$bold: 600;

// Font Colours
$font-color: #3a3a3a;

// Path
$imagePath: "../images/";

// Breakpoints
$breakmedium: 800px;
$breaksmall: 660px;